.card {
  border-left: 5px solid var(--grey-100-color);
  border-radius: var(--general-radii);
  box-shadow: var(--general-shadow);
  background-color: var(--general-white-color);
}

.featured {
  border-left-color: var(--general-app-color);
}
