/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

/* variables */
@import "./Variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--font-weight-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1480px;
  margin: 0 auto;
  background-color: var(--grey-100-color);
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
