.header {
  min-height: 156px;
  background-image: url(../../assets/images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--general-app-color);
}

.header h1 {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .header {
    background-image: url(../../assets/images/bg-header-desktop.svg);
  }
}
