.filterPanel {
  display: flex;
  margin-top: -32px;
  padding: 0.75rem 1.25rem;
  justify-content: space-between;
}

.filterPanel_link {
  padding: 0.5rem;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: var(--grey-800-color);
  background-color: transparent;
}

.filterPanel_link:hover {
  text-decoration: underline;
  color: var(--general-app-color);
}
