.badge {
  display: flex;
  min-height: 26px;
  align-items: center;
  font-size: 10px;
  line-height: 1;
  border-radius: var(--general-radii);
  cursor: pointer;
  overflow: hidden;
  color: var(--general-app-color);
  background-color: var(--grey-200-color);
}

.badge > span {
  padding: 0.25rem 1rem;
}

.badge:hover {
  color: var(--grey-100-color);
  background-color: var(--general-app-color);
}

.light {
  font-weight: var(--font-weight-bold);
}

.dark {
  color: var(--grey-100-color);
  background-color: var(--grey-900-color);
}

.primary {
  color: var(--grey-100-color);
  background-color: var(--general-app-color);
}

.badge .clearable {
  cursor: default;
}

.badge .clearable:hover {
  color: var(--general-app-color);
  background-color: var(--grey-200-color);
}

.badge_remover {
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  color: var(--grey-100-color);
  background-color: var(--general-app-color);
}

.badge_remover:hover {
  background-color: var(--grey-900-color);
}
